
GooglyPuff.xcodeproj/xcuserdata/shan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

GooglyPuff.xcodeproj/project.xcworkspace/xcuserdata/shan.xcuserdatad/UserInterfaceState.xcuserstate

GooglyPuff.xcodeproj/project.xcworkspace/xcuserdata/shan.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
